@mixin header1 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin container {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

@mixin tranding {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 42px;
  margin-left: 185px;
}

@mixin card-1 {
  width: 362px;
  height: 363px;
  border-radius: 5px 5px 5px 5px;
  background-color: white;
  position: relative;
}

@mixin magna {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin magna-p {
  color: #8a8787;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin m {
  color: #8a8787;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -16px;
  margin-left: 67px;
}

@mixin container1 {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@mixin tranding1 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 57px;
  margin-left: 185px;
  margin-bottom: 30px;
}

@mixin container2 {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

@mixin libero {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin f-div {
  display: flex;
  background-color: #243043;
  width: 1519px;
  height: 201px;
  margin-top: 36px;
}

@mixin f-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 140px;
  margin-top: 59px;
}

@mixin sityvebi {
  color: #818687;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin cardd {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
