@mixin header1 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin container {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

@mixin tranding {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
