body {
  background-color: #f1f1f1;
}

.container {
  @include container;

  ul {
    display: flex;
    gap: 35px;
    margin-top: 20px;
  }
  a {
    @include header1;
  }
  .women {
    margin-left: 26px;
    margin-top: 14px;
  }
}

.container1 {
  @include container1;
}
.tranding {
  @include tranding;
}

.style11 {
  margin-top: 42px;
  .card-1 {
    // border: 2px solid red;
    @include card-1;
  }
  .magna {
    position: absolute;
    top: 32px;
    left: 41px;
    @include magna;
  }
  .magna-p {
    width: 238px;
    height: 36px;
    margin-top: 68px;
    margin-left: 37px;
    @include magna-p;
  }
  .magna-p2 {
    width: 238px;
    height: 36px;
    // margin-top: 30px;
    margin-left: 37px;
    @include magna-p;
  }
  .clock {
    margin-left: 40px;
  }
  .mago {
    @include m;
  }
}

.now {
  @include tranding1;
}

.container2 {
  @include container2;
  .photo {
    width: 758px;
    height: 902px;
  }
  .photo2 {
    position: relative;
    margin-bottom: 42px;
  }
  .libero {
    @include libero;
  }
  .animal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 837px;
    margin-left: 45px;
  }
  .forest {
    width: 362px;
    height: 212px;
  }
  .spilo {
    width: 362px;
    height: 212px;
  }
  .qalaqi {
    width: 362px;
    height: 212px;
  }
}

.f-div {
  @include f-div;
  .f-card {
    @include f-card;
  }
  .saxli {
    @include sityvebi;
  }

  .h23 {
    @include cardd;
  }
  .geolab {
    width: 38px;
    height: 40px;
    margin-left: 426px;
    margin-top: 58px;
  }
}
