/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.container {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.container ul {
  display: flex;
  gap: 35px;
  margin-top: 20px;
}
.container a {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container .women {
  margin-left: 26px;
  margin-top: 14px;
}

.container1 {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.tranding {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 42px;
  margin-left: 185px;
}

.style11 {
  margin-top: 42px;
}
.style11 .card-1 {
  width: 362px;
  height: 363px;
  border-radius: 5px 5px 5px 5px;
  background-color: white;
  position: relative;
}
.style11 .magna {
  position: absolute;
  top: 32px;
  left: 41px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.style11 .magna-p {
  width: 238px;
  height: 36px;
  margin-top: 68px;
  margin-left: 37px;
  color: #8a8787;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.style11 .magna-p2 {
  width: 238px;
  height: 36px;
  margin-left: 37px;
  color: #8a8787;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.style11 .clock {
  margin-left: 40px;
}
.style11 .mago {
  color: #8a8787;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -16px;
  margin-left: 67px;
}

.now {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 57px;
  margin-left: 185px;
  margin-bottom: 30px;
}

.container2 {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.container2 .photo {
  width: 758px;
  height: 902px;
}
.container2 .photo2 {
  position: relative;
  margin-bottom: 42px;
}
.container2 .libero {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container2 .animal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 837px;
  margin-left: 45px;
}
.container2 .forest {
  width: 362px;
  height: 212px;
}
.container2 .spilo {
  width: 362px;
  height: 212px;
}
.container2 .qalaqi {
  width: 362px;
  height: 212px;
}

.f-div {
  display: flex;
  background-color: #243043;
  width: 1519px;
  height: 201px;
  margin-top: 36px;
}
.f-div .f-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 140px;
  margin-top: 59px;
}
.f-div .saxli {
  color: #818687;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.f-div .h23 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.f-div .geolab {
  width: 38px;
  height: 40px;
  margin-left: 426px;
  margin-top: 58px;
}/*# sourceMappingURL=global.css.map */